{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="{% static 'parent/go.js' %}"></script>
</head>

<body>

	<div id="myDiagramDiv" style="width:max-width; height:1000px;"></div>

	<script>
		var $ = go.GraphObject.make;
		var myDiagram =
		  $(go.Diagram, "myDiagramDiv",
		    {
		      "undoManager.isEnabled": true, // enable Ctrl-Z to undo and Ctrl-Y to redo
		      layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
		                { angle: 270, layerSpacing: 35 })
		    });

		// the template we defined earlier
		myDiagram.nodeTemplate =
		  $(go.Node, "Horizontal",
		    { background: "green" },
		    $(go.TextBlock, "Default Text",
		      { margin: 12, stroke: "white", font: "bold 16px sans-serif" },
		      new go.Binding("text", "name"))
		  );

		// define a Link template that routes orthogonally, with no arrowhead
		myDiagram.linkTemplate =
		  $(go.Link,
		    { routing: go.Link.Orthogonal, corner: 5 },
		    $(go.Shape, { strokeWidth: 3, stroke: "#555" })); // the link shape

		var model = $(go.TreeModel);
		model.nodeDataArray =
		[
		/* Если пользователь авторизован, то он увидит id-предков */
		{% if request.user.is_authenticated %}
			{% for parent in parent_list %}
				{ key: "{{ parent.id }}", parent: "{{ parent.child_id }}", name: "{{ parent.id }}. {{ parent.parent_name }}" },
			{% endfor %}
		{% else %}
			{% for parent in parent_list %}
				{ key: "{{ parent.id }}", parent: "{{ parent.child_id }}", name: "{{ parent.parent_name }}" },
			{% endfor %}
		{% endif %}
		];
		myDiagram.model = model;
	</script>

</body>
</html>